@import url(main.css);



figcaption{
    width: 60rem;
    margin-top: 3rem;
    background-color: var(--color-primary-bg);
    filter: brightness(90%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

figcaption>img{
    width: 15rem;
    height: 15rem;
    padding: 2rem;
    border-radius: .5rem;
    place-self: center;
}

.info_utilisateur div p{
    display: inline-block;
}

.info_utilisateur img{
    width: 2rem;
}

button{
    margin-top: 3rem;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--color-secondary-bg);
}